 /*#myVideo {
                width: 100vw; 
                height: 100vh; 
            }*/
 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
     object-fit: cover;
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
 }

 /* Add some content at the bottom of the video/page */
 .content {
     position: fixed;
     bottom: 0;
     background: rgba(0, 0, 0, 0.5);
     color: #f1f1f1;
     height: 100%;
     width: 100%;
     padding: 0px;
 }

 #page {
     height: 100%;
     width: 100vw;

 }

 body {
     margin: 0px;
 }